<div class="reservar-container">
    <div class="reservar-top">
        <div class="top-left">
            <div class="reservar-title">
                <p>Fazer reserva</p>
            </div>
            <button class="return-button" routerLinkActive="active">
                <a routerLink="/home"> Voltar</a>
            </button>
        </div>
    </div>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="nome-hospede">Nome do hóspede</label>
        <input id="nome-hospede" type="text" formControlName="nomeHospede">

        <label for="data-inicio">Data de chegada</label>
        <input id="data-inicio" type="date" formControlName="dataInicio">

        <label for="data-fim">Data de partida</label>
        <input id="data-fim" type="date" formControlName="dataFim">

        <label for="quantidade-pessoas">Número de pessoas</label>
        <input id="quantidade-pessoas" type="number" formControlName="quantidadePessoas">


        <button type="submit" class="primary">Reservar</button>
    </form>
    
</div>