.home-container {
    width: 65vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 839px;
}

.home-no-items {
    margin-top: 5%;
    margin-left: 10px;
    font-size: 2rem;
    filter: opacity(0.4);
}

.home-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.top-left {
    display: flex;
    align-items: center;
}

.top-right input {
    background-color: rgba(240, 248, 255, 0.481);
    padding: 4px 10px;
    border-radius: 10px;
}

.search-button {
    padding: 4px 10px;
    border-radius: 10px;
    color: rgba(240, 248, 255, 0.904);
    background-color: #2a33e2c1;
    margin: 0 15px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1920a3ce;
}


.create-button {
    min-height: fit-content;
    color: rgba(240, 248, 255, 0.904);
    background-color: #2a33e2c1;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #1920a3ce;
}

.show-all-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.show-all-button {
    max-height: 70px;
    color: rgba(240, 248, 255, 0.904);
    background-color: #2a33e2c1;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.show-all-button:hover {
    background-color: #1920a3ce;
}

.home-title {
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding-right: 20px;
    margin-right: 20px;
}

.reserva-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    overflow: scroll;
}

.reserva-card {
    width: 30vw;
    background-color: rgba(240, 248, 255, 0.481);
    border-radius: 20px;
    padding: 1.5%;
    padding-bottom: 1%;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ceb2b2;
}

.edit-button {
    margin-right: 15px;
    border: 1px solid #000;
}

.edit-button:hover {
    background-color: #77767692;
}

.delete-button:hover {
    background-color: #d7888896;
}

.delete-button {
    border: 1px solid #c42626;
    color: #c42626;
}

.delete-button, .edit-button {
    padding: 0 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.reserva-card span {
    font-weight: bold;
}

.reserva-card-esquerda, .reserva-card-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reserva-card-esquerda{
    align-items: flex-start;
    margin-right: 20px;
}

.reserva-card-direita{
    align-items: flex-end;
    margin-left: 20px;
}

.CONFIRMADA {
    color: rgb(13, 141, 13);
}

.PENDENTE {
    color: rgb(138, 138, 31);
}

.CANCELADA {
    color: rgb(205, 55, 32);
}

@media(max-width: 960px){
    .home-container{ 
        width: 100vw;
        height: 90vh;
        min-width: 0;
        margin: 0;
    }

    .home-top {
        width: 100vw;
        height: 10vh;
        padding: 0 15px;
        margin: 0 auto 30px auto;
        background-color: #9e6767b7;
    }

    .top-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-right input {
        justify-content: flex-end;
        padding: 2px 7px;
        width: 20vw;
        margin-right: 5px;
    }

    .top-right {
        display: flex;
        justify-content: flex-end;
    }
    
    .search-button {
        margin: 0;
    }

    .create-button {
        min-height: fit-content;
        color: rgba(240, 248, 255, 0.904);
        background-color: #2a33e2c1;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .home-title {
        display: none;
    }

    .home-no-items {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        font-size: 1.5rem;  
    }

    .reserva-card {
        width: 90vw;
        margin: auto;
        background-color: rgba(240, 248, 255, 0.481);
        border-radius: 20px;
        padding: 1.5%;
        padding-bottom: 1%;
        margin-bottom: 30px; 
    }

    .show-all-wrapper {
        width: 100%;
        justify-content: center;
    }
}