<div class="home-container">
    <div class="home-top">
        <div class="top-left">
            <div class="home-title">
                <p>Casa IBM</p>
            </div>
            <button class="create-button" routerLinkActive="active">
                <a routerLink="/reservar">Fazer nova reserva</a>
            </button>
        </div>
        <div class="top-right">
            <form [formGroup]="applyForm" (submit)="submitApplication()">
                <input id="id" type="text" formControlName="id" placeholder="Insira o id da reserva...">
                <button type="submit" class="search-button">Buscar</button>
            </form>
        </div>
    </div>

    <div class="home-no-items" *ngIf="list.length == 0">
        Não há reservas feitas
    </div>
    <div class="reserva-cards">
        <div class="reserva-card" *ngFor="let item of list">

            <div class="buttons" *ngIf="item.status != cancelada">
                <button class="edit-button" routerLinkActive="active">
                    <a (click)="goToEdit(item)">Editar</a>
                </button>
                <button class="delete-button" (click)="popUpService.add(item, 'Deseja cancelar reserva?', 'ATENÇÃO: Essa ação não é reversível')">
                    Cancelar
                </button>
            </div>
            <div class="buttons" *ngIf="item.status == cancelada"></div>

            <div class="info">
                <div class="reserva-card-esquerda">
                    <p>id: <span>{{item.id}}</span></p>
                    <p>Hóspede: <span>{{item.nomeHospede}}</span></p>
                    <p><span>{{item.quantidadePessoas}}</span> pessoas</p>
                </div>
                <div class="reserva-card-direita">
                    <p>Chegada: <span>{{item.dataInicio}}</span></p>
                    <p>Saída: <span>{{item.dataFim}}</span></p>
                    <p><span class={{item.status}}>{{item.status}}</span></p>
                </div>
            </div>
        </div>
        <div class="show-all-wrapper" *ngIf="showAll == false">
            <div class="show-all-button" (click)="this.setShowAll(true); ngOnInit()">
                Mostrar todas reservas
            </div>
        </div>
    </div>
</div>
